USE [master]
GO
/****** Object:  Database [Milion]    Script Date: 18.05.2018 16:12:44 ******/
CREATE DATABASE [Milion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Milion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Milion.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Milion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Milion_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Milion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Milion]
GO
/****** Object:  SqlAssembly [Milion]    Script Date: 18.05.2018 16:12:44 ******/
CREATE ASSEMBLY [Milion]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300B1CAFE5A0000000000000000E00022200B013000000C00000006000000000000622A0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000102A00004F00000000400000A002000000000000000000000000000000000000006000000C000000D82800001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000680A000000200000000C000000020000000000000000000000000000200000602E72737263000000A00200000040000000040000000E0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001200000000000000000000000000004000004200000000000000000000000000000000442A0000000000004800000002000500F4210000E4060000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013300400A200000001000011001F0B8D0900000125167201000070A225170F00FE16070000016F0500000AA2251872B0000070A225190F01FE16070000016F0500000AA2251A72B0000070A2251B0F02FE16070000016F0500000AA2251C72B0000070A2251D0F03FE16070000016F0500000AA2251E72B0000070A2251F090F04FE16070000016F0500000AA2251F0A72B8000070A2280600000A730700000A0A280800000A066F0900000A002A00001330030030000000010000110072BE0000700F00FE16070000016F0500000A722A010070280A00000A730700000A0A280800000A066F0900000A002A13300400A200000001000011001F0B8D0900000125167232010070A225170F00FE16070000016F0500000AA225187272010070A225190F01FE16070000016F0500000AA2251A7292010070A2251B0F02FE16070000016F0500000AA2251C72B2010070A2251D0F03FE16070000016F0500000AA2251E72D2010070A2251F090F04FE16070000016F0500000AA2251F0A72F2010070A2280600000A730700000A0A280800000A066F0900000A002A2202280B00000A002A0042534A4201000100000000000C00000076342E302E33303331390000000005006C000000CC010000237E000038020000EC01000023537472696E67730000000024040000240200002355530048060000100000002347554944000000580600008C00000023426C6F620000000000000002000001471502000900000000FA013300160000010000000B00000002000000040000000B0000000B000000060000000100000001000000020000000000FA000100000000000600A40067010600C400670106007A0054010F00870100000600C30105010A008E0033010A00E70096010A004F00CA010600F30005010A00E00133010A0072003301000000003100000000000100010001001000AB0100001500010001005020000000009600E2003F000100002100000000960022014D0006003C2100000000960013013F000700EA210000000086184E0106000C00000001003101000002000A00000003001600000004002200000005002E00000001002901000001002901000002000100000003000D0000000400190000000500250009004E01010011004E01060019004E010A0031004E0106002900F10015004900BC01190041004E011F0051006900240059005A0029004900BC012F0029004E0106002000230084002E000B0053002E0013005C002E001B007B0040002300840060002300840010000480000000000000000000000000000000000C010000040000000000000000000000360046000000000004000000000000000000000036003A00000000000000000000416E737765725F3100613100416E737765725F3200613200416E737765725F3300613300416E737765725F34006134003C4D6F64756C653E0053797374656D2E44617461006D73636F726C69620053716C436F6D6D616E640045786563757465416E6453656E64006765745F506970650053716C506970650044656275676761626C654174747269627574650053716C50726F63656475726541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500536176650053716C537472696E6700546F537472696E67004D696C696F6E2E646C6C0053797374656D004D696C696F6E005570646174655F5175657374696F0044656C6574655F5175657374696F0071004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C54797065730053746F72656450726F6365647572657300436F6E636174004F626A6563740053797374656D2E446174612E53716C436C69656E740053716C436F6E7465787400000080AD75007300650020004D0069006C0069006F006E00200069006E007300650072007400200069006E0074006F0020005100750065007300740069006F00730028005100750065007300740069006F002C0041006E0073007700650072005F0031002C0041006E0073007700650072005F0032002C0041006E0073007700650072005F0033002C0041006E0073007700650072005F00340029002000560041004C00550045005300200028002700010727002C002700010527002900016B75007300650020004D0069006C0069006F006E002000440045004C004500540045002000460052004F004D0020005100750065007300740069006F00730020007700680065007200650020005100750065007300740069006F0020006C0069006B0065002000270025000107250027002000013F75007000640061007400650020005100750065007300740069006F007300200073006500740020005100750065007300740069006F0020003D0020002700011F27002C00200041006E0073007700650072005F00310020003D0020002700011F27002C00200041006E0073007700650072005F00320020003D0020002700011F27002C00200041006E0073007700650072005F00330020003D0020002700011F27002C00200041006E0073007700650072005F00340020003D0020002700012F270020007700680065007200650020005100750065007300740069006F0020006C0069006B00650020002700270001000018866CAE43467A479F77A628E504828C0004200101080320000105200101111104070112210320000E0500010E1D0E042001010E040000122D0520010112210600030E0E0E0E08B77A5C561934E0890D000501111D111D111D111D111D05000101111D0801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301080100070100000000040100000000000000000000B1CAFE5A00000000020000001C010000F4280000F40A000052534453C98677F9956B7345B5A28DAE448C236201000000433A5C55736572735C42756A655F6A7938395C446F63756D656E74735C56697375616C2053747564696F20323031375C50726F6A656374735C7770665C41444F2E4E45545C4D696C696F6E657256325F313531333137343431325C4D696C696F6E5C6F626A5C44656275675C4D696C696F6E2E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000382A00000000000000000000522A0000002000000000000000000000000000000000000000000000442A0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000440200000000000000000000440234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004A4010000010053007400720069006E006700460069006C00650049006E0066006F0000008001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000036000B00010049006E007400650072006E0061006C004E0061006D00650000004D0069006C0069006F006E002E0064006C006C00000000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000003E000B0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004D0069006C0069006F006E002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E00300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000643A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE

GO
/****** Object:  StoredProcedure [dbo].[Delete_Questio]    Script Date: 18.05.2018 16:12:44 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[Delete_Questio]
	@Questio [nvarchar](255)
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [Milion].[StoredProcedures].[Delete_Questio]
GO
/****** Object:  StoredProcedure [dbo].[Save]    Script Date: 18.05.2018 16:12:44 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[Save]
	@q [nvarchar](255),
	@a1 [nvarchar](255),
	@a2 [nvarchar](255),
	@a3 [nvarchar](255),
	@a4 [nvarchar](255)
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [Milion].[StoredProcedures].[Save]
GO
/****** Object:  StoredProcedure [dbo].[Update_Questio]    Script Date: 18.05.2018 16:12:44 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[Update_Questio]
	@Questio [nvarchar](255),
	@Answer_1 [nvarchar](255),
	@Answer_2 [nvarchar](255),
	@Answer_3 [nvarchar](255),
	@Answer_4 [nvarchar](255)
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [Milion].[StoredProcedures].[Update_Questio]
GO
/****** Object:  Table [dbo].[Questios]    Script Date: 18.05.2018 16:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questios](
	[Questio] [nvarchar](255) NULL,
	[Answer_1] [nvarchar](255) NULL,
	[Answer_2] [nvarchar](255) NULL,
	[Answer_3] [nvarchar](255) NULL,
	[Answer_4] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Questios] ([Questio], [Answer_1], [Answer_2], [Answer_3], [Answer_4]) VALUES (N'Как мировая пресса называла премьер-министра Великобритании Маргарет Тэтчер?', N'0', N'Стальная леди', N'Оловянный солдатик', N'Крепкий орешек')
INSERT [dbo].[Questios] ([Questio], [Answer_1], [Answer_2], [Answer_3], [Answer_4]) VALUES (N'Какой из этих городов южнее остальных?', N'Каир', N'Токио', N'Мадрид', N'Сан-Франциско')
INSERT [dbo].[Questios] ([Questio], [Answer_1], [Answer_2], [Answer_3], [Answer_4]) VALUES (N'Через какой город мира проходит нулевой меридиан?', N'Гринвич', N'Гринсборо', N'Глазго', N'Гронинген')
USE [master]
GO
