USE [master]
GO
/****** Object:  Database [Milion]    Script Date: 16.05.2018 16:22:31 ******/
CREATE DATABASE [Milion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Milion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MAMORY\MSSQL\DATA\Milion.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Milion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MAMORY\MSSQL\DATA\Milion_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Milion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Milion]
GO
/****** Object:  Table [dbo].[Questios]    Script Date: 16.05.2018 16:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questios](
	[Questio] [nvarchar](255) NULL,
	[Answer_1] [nvarchar](255) NULL,
	[Answer_2] [nvarchar](255) NULL,
	[Answer_3] [nvarchar](255) NULL,
	[Answer_4] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Questios] ([Questio], [Answer_1], [Answer_2], [Answer_3], [Answer_4]) VALUES (N'f', N'f', N'f', N'f', N'f')
USE [master]
GO
